body, html {
  height: 100%;
}

img {
	width: 100%;
}

header {
	margin-top: 30px;
	margin-right: 55px;
}


body {
  background-image: url("img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottles {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    justify-content: space-evenly;
}

.bottles img {
	width: 100px;
	height: 150px;
	position: relative;
	animation-name: move;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	cursor: pointer; 
}

@keyframes move {
	0%   {left:0px; top:0px;}
	25%  {left:0px; top:20px;}
	50%  {left:0px; top:0px;}
	75%  {left:0px; top:20px;}
	100% {left:0px; top:0px;}
}



#bottle1 {
	/*margin-top: 45%;
	margin-left: 60%*/
}

#bottle2 {
	margin-top: -1.5%;
	
}

#bottle3 {
	margin-top: -4%;
	
}

#bottle4 {
	margin-top: -2%;
	
}

#bottle5 {
	margin-top: -3%;
	
}

#bottle6 {
	margin-top: -2%;
	
}



.tivtiva {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	position: relative;
	top: 8%;
}

#tivtivaicon {
	width: 160px;
	margin-left: 3%;
	cursor: pointer;
}


.modal-dialog {
	background-image: url("img/scroll.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: none;
	border: none;
}

.modal-content.modal-body {
	background-color: none;
	background: none; 
	border: none;
	margin: 25% auto;
	padding: 50px;
  width: 50%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */



/*  media tags  */


/*  xxs ---  0px - 425px    */

@media screen and (min-width: 0px) {


	#about-wrapper {
		width: 80%;
	}
	-
	#menu-nav li {
		margin-right: 20px;
	}

}


/*  extra small == mobile (bootstrap xs) ---  426px - 767px    */

@media screen and (min-width: 426px) {


}

/*  small == tablet (bootstrap sm) ---  768px - 991px    */

@media screen and (min-width: 768px) {

	#about-wrapper {
		width: 60%;
	}

	#menu-nav li {
		margin-right: 30px;
	}

}

/*  medium == notebook small (bootstrap md) ---  992px - 1199px    */

@media screen and (min-width: 992px) {


}

/*  large == notebook large (bootstrap lg) ---  1200px +   */

@media screen and (min-width: 1200px) {


	#about-wrapper {
		width: 45%;
	}

}

